.nav_container{
    display: flex;
    justify-content: space-between;
    padding-inline: 2em;
    align-items: center;
    height: 5em;
    /* border: 2px solid black; */
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}
.site_name h1{
    font-weight: bolder;
}
.btn_container{
    display: flex;
    gap : 1em;
    /* height: fit-content; */
    align-items: center;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.form{
    display: flex;
    gap: 1em;
}

.form input[type="file"]{
    width: 200px;
}

.button {
    display: flex;
    align-items: center;
    gap: .6em;
}

.linkBtnContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.3em;
}